
<mat-card>
  <h4>{{recipe.name}}</h4>
    <div class="row">

      <div class="col-md-8">
        <img [src]="recipe.url" alt="" srcset="">
      </div>

      <div class="col-md-8">
        <h5>Catégorie</h5>
        <p>{{recipe.type}}</p>
        <hr>
        <h5>Durée</h5>
        <p>{{recipe.duration}}</p>
        <hr>
        <h5>Nombre de personnes</h5>
        <p>{{recipe.serving}}</p>
        <hr>
        <h5>Instructions</h5>
        <p *ngFor="let e of recipe.details.instructions">
          {{e.content}}
        </p>

      </div>
    </div>

    <div class="actions">
      <button mat-raised-button [routerLink]="['/list']" color="accent" type="button">Retour</button>
    </div>
</mat-card>

